<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="OPENVPN_EXE_PATH" value="C:\Program Files (x86)\Atom\bin\openvpn.exe" />
        <add key="OPENVPN_SERVICE_NAME" value="OpenVpnService" />
        <add key="OPENVPN_ADAPTER_NAME" value="TAP-WindowsAdapterV9" />
        <add key="OPENVPN_CERTIFICATE_DIR" value="C:\ProgramData\Atom\config" />
        <add key="OPENVPN_CONFIG_DIR" value="C:\ProgramData\Atom\config" />
        <add key="OPENVPN_LOG_DIR" value="C:\ProgramData\Atom\logs" />
        <add key="RAS_ADAPTER_NAME" value="Atom" />
    </appSettings>
</configuration>