<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atom.Core.Net" version="1.4.0" targetFramework="net45" />
  <package id="Atom.SDK.Net" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="SimpleInjector" version="4.6.0" targetFramework="net45" />
</packages>